/*<meta />*/

@media only screen and (max-width: 767px)
{
	.search-bar
	{
		width: 100%;
	}

	.knowledge-panel-container.micro-content-truncated-mode .micro-response
	{
		max-height: 200px;
	}
}

